body {
	background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;
}
#pins-wrapper {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	position: absolute;
	max-width: 100%;
	text-align: center;
	margin-top: 8.5em;
	margin-bottom: 8.5em;
}

#pin{
	margin: 15px;
	margin-bottom: 5px;
	margin-top: 5px;
	display: inline-block;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: initial;
}

#column{
	-webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
	overflow:hidden;
}

.mdl-card__actions{
	text-align: center;
}

#column:hover #pin:not(:hover) {
	opacity: 0.4;
}